// Colors
// $primary-blue: #5e4ccf;

$primary-orange: rgb(255, 56, 8);
// $primary-orange: #5e4ccf;


$primary-dark: rgb(27, 27, 27);
$primary-white: #fff;
$primary-gray: rgb(224, 224, 224);


//Fonts Variables
$koho: "koho",sans-serif;
$karla: "karla",sans-serif;
$poppins: "poppins", sans-serif;
$caveat: "caveat",sans-serif;